
/*
Theme Name: Replace with your Theme's name.
Theme URI: Your Theme's URI
Description: A brief description.
Version: 1.0
Author: You
Author URI: Your website address.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* variables */
/*	FONTS
	========================== */
@font-face {
  font-family: "Proxima-Bold";
  src: url("css/fonts/prxma-bold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Regular";
  src: url("css/fonts/prxma-regular.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Light";
  src: url("css/fonts/proximanova-light-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("css/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("css/fonts/Raleway-Bold.ttf") format("truetype");
}
b {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 22px;
  padding-right: 5px;
  color: #181F58;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: "Proxima-Regular", sans-serif;
  background-color: #F3F4F7;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

hr {
	margin:0px 0 10px 0;
}

.cf:after {
  clear: both;
}

h3 {
	padding-top:30px !important;
}

b,strong {
	font-family: "Proxima-Bold",sans-serif;
	font-size:16px;
	color:#333;
}

b a {
	color:#3a3f69;
	transition:all .3s;
	font-family:"Proxima-Light",sans-serif !important;
}

b a:hover {
	transform:translate(3px , 3px);
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(52, 61, 119, .6);
}
.video-container {
    position: fixed;
    /* height: 550px; */
    
    width: 900px;
    background-color: #fff;
    border-radius: 5px 0 5px 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 110px 80px rgba(0, 0, 0, .5);
}
.video-container video {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}
.close-video {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: -30px;
    background-image: url("img/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(20, 20, 20, 1);
    border-radius: 0 3px 3px 0;
    background-position: center center;
}
/* events scollbar */
.events-calendar-wrapper::-webkit-scrollbar {
  width: 6px;
}

.events-calendar-wrapper::-webkit-scrollbar-button {
  width: 2px;
  height: 5px;
  background: #3a3f69;
}

.events-calendar-wrapper::-webkit-scrollbar-track {
  background: #F3F4F7;
}

.events-calendar-wrapper::-webkit-scrollbar-thumb {
  background: #30345a;
}

.events-calendar-wrapper::-webkit-scrollbar-thumb:hover {
  background: #2b2f53;
}

/* featured posts scollbar */
.bottom-section .bottom-section-left .featured-news::-webkit-scrollbar {
  width: 6px;
}

.bottom-section .bottom-section-left .featured-news::-webkit-scrollbar-button {
  width: 2px;
  height: 5px;
  background: #fff;
}

.bottom-section .bottom-section-left .featured-news::-webkit-scrollbar-track {
  background: #F3F4F7;
}

.bottom-section .bottom-section-left .featured-news::-webkit-scrollbar-thumb {
  background: #d5d5d5;
}

.bottom-section .bottom-section-left .featured-news::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

/* GLOBAL */
.wrapper {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
}

/* HEADER */
.header {
  background-color: #fff;
}

.header-top {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
.header-top h1 a {
  text-indent: 100%;
  overflow: hidden;
  height: 54px;
  width: 152px;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
  float: left;
  position: relative;
}
.header-top .video-play {
  display: block;
  position: absolute;
  background-image: url("img/play-btn.png");
  right: 0;
  top: 32px;
  background-repeat: no-repeat;
  padding-top: 30px;
  text-align: center;
  font-size: 10px;
  background-position: center top;
  font-family: "Proxima-Bold", sans-serif;
  opacity: .4;
  cursor: pointer;
}
.header-top .video-play:hover {
  opacity: .9;
}

.navigation {
  border-top: 1px solid #F3F4F7;
}
.navigation ul {
  text-align: left;
  height: 60px;
  line-height: 60px;
  position: relative;
}
.navigation ul li {
  display: inline-block;
  padding: 0 35px;
  height: 60px;
  line-height: 60px;
  padding-left: 0;
}
.navigation ul li a {
  color: #4e5665;
  display: block;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.navigation ul li.active a {
  color:#3b9bef;
  text-align: center;
}

/* main content */
.main-content {
  padding-top: 40px;
  padding-bottom: 80px;
}

/* slider */
.slider {
  margin-bottom: 40px;
  position: relative;
}
.slider .slider-post-img {
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-bottom: 38%;
}
.slider .slider-post-img img {
  position: relative;
  top: 50%;
  min-width: 100%;
  width: 100%;
}
.slider .slider-post-content {
  background-color: #fff;
  margin: 0;
  padding: 10px 15px;
  border-radius: 0 0 3px 3px;
  position: relative;
}
.slider .slider-post-content h2 {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  padding: 8px 0 8px 0;
  line-height: 23px;
  width: 87%;
}
.slider .slider-post-content h2 a {
  text-decoration: none;
  color: #000;
  transition: all .2s;
  display: block;
	padding-right: 20px;
}

.slider .slider-post-content h2 a:hover {
	color: #3a3f69;
	transform: translate(2px , 2px);
}

.slider .slider-post-content .slider-post-date {
  font-size: 12px;
  color: #9E9E9E;
  font-family: "Proxima-Bold";
  border: 1px solid #E8E8E8;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  width: 13%;
  position: relative;
  position: absolute;
  top:50%;
  transform: translate(0%,-50%);
}
.slider .top-stories-tag {
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: -15px;
  padding: 8px 12px;
  font-family: "Proxima-Bold", sans-serif;
  border-radius: 3px 3px 0 3px;
  z-index: 100;
  box-shadow: 0 3px 10px #3E414E;
}
.slider .top-stories-tag span {
  position: relative;
  z-index: 200;
  color: black;
}
.slider .top-stories-tag:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  position: absolute;
  top: 16px;
  right: 0px;
}

/* home bottom */

.events-calendar-headings .glyphicon {
	font-size: 8px;
	left: 10px;
	top: 12px;
	
	color: #3a9bef;
	position: absolute;
}

.events-calendar-headings {
	margin-top:50px;
}

.events-calendar-headings h3 {
	font-size:17px;
	display:inline-block;
	padding-bottom:12px;
	padding-top:12px;
	cursor:pointer;
	color:#838bc7;
	width:50%;
	float:left;
	text-align:center;
}

.events-calendar-headings h3.active {
	color:#fff;
}

.events-calendar-headings h3:hover {
}

.events-calendar-headings i {
	display:inline-block;
	padding:0 10px;
	opacity:0;
}

.bottom-section {
  height: 768px;
  margin: 0;
}
.bottom-section h3 {
  font-size: 24px;
  font-family: "Proxima-Bold", sans-serif;
  padding-top: 40px;
}
.bottom-section .bottom-section-left,
.bottom-section .bottom-section-right {
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.bottom-section .bottom-section-left {
  background-color: #fff;
}
.bottom-section .bottom-section-left .featured-news {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 30px;
}
.bottom-section .bottom-section-left .featured-news .recent-post {
  margin: 35px 0 0 0;
}
.bottom-section .bottom-section-left .featured-news .recent-post:first-of-type {
  margin-top: 0;
}
.bottom-section .bottom-section-left .featured-news .recent-post .recent-post-date {
  font-size: 13px;
  color: #9a9ca6;
  right: 35px;
  display: block;
  font-family: Proxima-Light,sans-serif;
}
.bottom-section .bottom-section-left .featured-news .recent-post h4 a {
  font-size: 18px;
  font-family: "Proxima-Bold", sans-serif;
  padding-top: 4px;
  line-height: 26px;
  color: #3a3f69;
  padding-right: 20px;
  text-decoration: none;
  display: block;
	transition: all .2s;
}

.bottom-section .bottom-section-left .featured-news .recent-post h4 a:hover {
	transform: translate(4px , 0px);
}

.bottom-section .bottom-section-left .link-news {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #333;
  text-decoration: none;
  font-family: "Proxima-Bold", sans-serif;
  transition: all .2s ;
}

.bottom-section .bottom-section-left .link-news:hover {
	transform: translate(2px , 2px);
}

.bottom-section .bottom-section-right {
  background-color: #3a3f69;
  color: #fff;
}
.bottom-section .bottom-section-right .contact-col a {
  color: #3b9bef;
  font-family: "Proxima-Bold", sans-serif;
  padding-top: 5px;
  display: block;
}
.bottom-section .bottom-section-right .events-calendar .events-calendar-headings {
  margin: 0;
}
.bottom-section .bottom-section-right .events-calendar .events-calendar-headings h3 {
  font-size: 14px;
  text-align: center;
  padding: 10px !important;
  margin-top: 40px;
  background-color: #454b79;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.bottom-section .bottom-section-right .events-calendar .events-calendar-wrapper {
  max-height: 360px;
  height: 360px;
  overflow-y: scroll;
  padding-right: 20px;
  padding: 20px;
  border-radius: 5px;
  padding-left: 8px;
}
.bottom-section .bottom-section-right .events-calendar .event {
  margin-top: 40px;
}
.bottom-section .bottom-section-right .events-calendar .event:first-of-type {
  margin-top: 15px;
}
.bottom-section .bottom-section-right .events-calendar .event .event-date {
  font-family: "Proxima-Bold", sans-serif;
  color: #b6bae8;
  font-size: 18px;
  border-bottom: 1px solid #30345a;
  display: block;
  padding-bottom: 5px;
}
.bottom-section .bottom-section-right .events-calendar .event .event-description h4 {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 8px;
  color: #FFFFFF;
  padding-top: 10px;
  letter-spacing: .05em;
}
.bottom-section .bottom-section-right .events-calendar .event .event-description p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .02em;
  font-family: "Proxima-Light", sans-serif;
}
.bottom-section .bottom-section-right .social-media-buttons {
  margin-top: 80px;
  position: absolute;
  right: 30px;
  bottom: 25px;
  text-align: right;
}
.past-events {
	display: none;
}
.bottom-section .bottom-section-right .social-media-buttons h3 {
  font-size: 16px;
  padding-bottom: 15px;
  text-decoration: underline;
}
.bottom-section .bottom-section-right .social-media-buttons li {
  display: inline-block;
}
.bottom-section .bottom-section-right .social-media-buttons li a {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  background-size: 24px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.bottom-section .bottom-section-right .social-media-buttons li.linkedin a {
  background-image: url("img/linkedin.png");
}
.bottom-section .bottom-section-right .social-media-buttons li.facebook a {
  background-image: url("img/fb.png");
}
.bottom-section .bottom-section-right .social-media-buttons li.twitter a {
  background-image: url("img/twitter.png");
}

/* Company Info */
.contact-wrapper {
  padding-bottom: 90px;
 /* padding-right: 70px;*/
}
.contact-wrapper h2 {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 18px;
  color: #545558;
  padding: 20px 0 25px 0;
  border-bottom: 1px solid #F7F7F7;
  text-align: left;
}
.contact-wrapper p {
  line-height: 24px;
  padding-top: 30px;
  text-align: left;
  color: #444;
  font-size: 19px;
  font-family: "Proxima-Light", sans-serif;
}

.team-image {
	padding-top: 50px;
}

/* News */
.col-post-wrapper .col-post {
  margin-bottom: 2%;
  width: 49%;
  height: 430px;
  position: relative;
}
.col-post-wrapper .col-post:nth-of-type(2n) {
  margin-left: 2%;
}
.col-post-wrapper .col-post .col-post-date {
  color: #898f9c;
  font-size: 13px;
  display: block;
}
.col-post-wrapper .col-post .col-post-date span {
  padding-right: 7px;
  font-size: 12px;
}
.col-post-wrapper .col-post h3 a {
  color: #3a3f69;
  font-family: "Proxima-Bold";
  font-size: 19px;
  line-height: 24px;
  padding: 10px 0 15px 0;
  display: block;
}
.col-post-wrapper .col-post h3 a:hover {
  text-decoration: none;
  opacity: .8;
}
.col-post-wrapper .col-post .col-post-img {
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-bottom: 43%;
}
.col-post-wrapper .col-post .col-post-img img {
  display: block;
  position: relative;
  top: 50%;
  min-width: 100%;
  width: 100%;
}
.col-post-wrapper .col-post .col-post-excerpt {
  line-height: 22px;
  color: #444;
  text-align: justify;
  font-family: Proxima-Light,sans-serif;
  padding-top: 10px;
}
.col-post-wrapper .col-post .col-post-link {
  display: block;
  color: #3b9bef;
  padding: 20px 0 0px 0;
  font-size: 14px;
  font-family: "Proxima-Bold";
  text-align: right;
  position: absolute;
  bottom: 17px;
  right: 30px;
}
.col-post-wrapper .col-post .col-post-link .glyphicon {
  font-size: 10px;
  padding-left: 3px;
}

/* Single POST */
.single-post-wrapper .single-post-top .single-post-date {
  color: #898f9c;
  padding-bottom: 5px;
  display: block;
  font-size: 13px;
}
.single-post-wrapper .single-post-top .single-post-date span {
  padding-right: 3px;
}
.single-post-wrapper .single-post-top .single-post-heading {
  font-family: "Proxima-Bold",sans-serif;
  font-size: 28px;
  padding: 10px 0 30px 0;
  color: #3a3f69;
}
.single-post-wrapper .single-post-top .single-post-img {
 /* overflow: hidden;*/
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
 /*  height: 100px;*/
 /*  padding-bottom: 50%; */
}
.single-post-wrapper .single-post-top .single-post-img img {
  border-radius: 3px;
 /*  position: relative; */
 /*  top: 50%; */
 /*  min-width: 100%; */
  width: 100%;
  height:auto;
}
.single-post-wrapper .single-post-main {
  padding: 30px 0;
  /*global single post*/
}
.single-post-wrapper .single-post-main p {
  font-family: "Proxima-Light",sans-serif;
  font-size: 19px;
  line-height: 24px;
  padding: 10px;
  padding-left: 0;
}
.single-post-wrapper .single-post-main a {
  font-family: "Proxima-Bold",sans-serif;
  padding: 0 4px;
  font-size: 16px;
}
.single-post-wrapper .single-post-main h1, .single-post-wrapper .single-post-main h2, .single-post-wrapper .single-post-main h3, .single-post-wrapper .single-post-main h4, .single-post-wrapper .single-post-main h5, .single-post-wrapper .single-post-main h6 {
  font-family: "Proxima-Bold",sans-serif;
  padding: 10px 0 10px 0;
  color: #3a3f69;
}
.single-post-wrapper .single-post-main h1 {
  font-size: 24px;
}
.single-post-wrapper .single-post-main h2 {
  font-size: 22px;
}
.single-post-wrapper .single-post-main h3 {
  font-size: 20px;
}
.single-post-wrapper .single-post-main h4 {
  font-size: 18px;
}
.single-post-wrapper .single-post-main h5 {
  font-size: 16px;
}
.single-post-wrapper .single-post-main h6 {
  font-size: 14px;
}
.single-post-wrapper .single-post-main ul {
  list-style: none;
  padding: 10px 0;
}
.single-post-wrapper .single-post-main li {
  display: block;
  font-size: 17px;
  color: #3b9bef;
  padding: 7px 7px 7px 28px;
  background-image: url("img/check-active.png");
  background-repeat: no-repeat;
  background-position: 3px center;
}

/* Media Gallery */
.col-media-wrapper .col-media {
  width: 49.5%;
  margin-right: 1%;
  margin-bottom: 10px;
  position: relative;
}
.col-media-wrapper .col-media:hover .col-media-mask {
  opacity: 1 !important;
}
.col-media-wrapper .col-media:nth-of-type(2n) {
  margin-right: 0;
}
.col-media-wrapper .col-media .col-media-featured-img {
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  padding-bottom: 50%;
  position: relative;
}
.col-media-wrapper .col-media .col-media-featured-img img {
  position: relative;
  top: 50%;
  min-width: 100%;
  width: 100%;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 155, 239, 0.9);
  opacity: 0;
  transition: all .3s;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask:hover h3 {
  opacity: 1;
  top: 48%;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask:hover .link-media-post {
  opacity: 1;
  top: 25%;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask h3 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
  padding: 0 25px 25px 25px !important;
  transition: all .2s ease-in;
  opacity: 0;
  font-family: "Proxima-Bold", sans-serif;
  color: #fff;
  font-size: 17px;
  display: block;
  line-height: 24px;
  font-size: 20px;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask h3 > a {

}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask h3 > a:hover {
  text-decoration: none;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask .link-media-post {
  display: inline-block;
  top: 20%;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  opacity: 0;
  transition: all .2s ease-in;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask .link-media-post .glyphicon {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  transition: all .15s ease-in;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask .link-media-post .glyphicon:hover {
  background-color: #fff;
  color: #3b9bef;
}
.col-media-wrapper .col-media .col-media-featured-img .col-media-mask .folder-type {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  font-size: 24px;
}
.col-media-wrapper .col-media .col-media-counter {
  padding: 10px 0;
}
.col-media-wrapper .col-media .col-media-counter .col-media-count-item {
  padding: 7px 15px 0 15px;
  display: block;
  color: #bbb;
  text-align: right;
}
.col-media-wrapper .col-media .col-media-counter .col-media-count-item i {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #3b9bef;
  color: #fff;
  font-size: 10px;
  position: relative;
  top: -2px;
}

/* Single Media */
.single-media-wrapper .single-media-col {
  margin: 1% 0;
}
.single-media-wrapper .single-media-col:first-of-type {
  margin-top: 0;
}
.single-media-wrapper .single-media-col:last-of-type {
  margin-bottom: 0;
}

.mejs-container {
 /*  height:350px !important; */
  margin:10px auto;
/*  max-width:400px;*/
}


/* Media Queries */

@media screen and (max-width:1024px) {
	.bottom-section .bottom-section-left, 
	.bottom-section .bottom-section-right {
		padding-right: 20px;	
		padding-left: 20px;	
	}
	
	
	.slider .slider-post-content .slider-post-date {
		position: relative;
		-webkit-transform: none;
		-ms-transform: none ;
		-o-transform: none;
		transform: none;
		border: none;
		float: right;
		width: 200px;
		text-align: right;
		padding-bottom: 10px;
	}
	
	.slider .slider-post-content h2 {
		width:100%;
		padding-bottom: 20px;
	}
	
	.bottom-section {
		height: auto;
	}
	
	.bottom-section .bottom-section-right .social-media-buttons {
		right: 50px;
	}
	
	.events-calendar {
		padding-bottom: 20px;
	}
	
	.bottom-section .bottom-section-left .link-news {
		right: 50px;
	}
}

@media screen and (max-width:768px) {
	.slider .top-stories-tag:before {
		display: none;
	}	
	
	.slider .top-stories-tag span{
		font-size: 13px;
	}
	.slider .top-stories-tag {
		-webkit-box-shadow: none;
		box-shadow: none;
		right: 0;
		border-radius: 4px 0px 0px 4px;
	}
	
	.slider {
		margin-bottom: 20px;
	}
	
	.bottom-section h3 {
		font-size: 20px;
	}
	
	.col-post-wrapper .col-post,
	.col-media-wrapper .col-media{
		width:auto;
		height:auto;
		padding-bottom:50px;
	}
	
	.navigation ul {
		height: auto;
	}
	
	.navigation ul li {
		display: block;
		text-align: center;
		padding-right: 0;
		height: 55px;
	}
	
	.navigation ul li a {
		height: auto;
	}
	
	.header-top .video-play {
		display: none;
	}
	
	.header-top h1 a {
		width: 100%;
		background-position: center center;
	}
}

@media screen and (max-width:480px) {
	.slider .top-stories-tag {
		display: none;
	}
	
	.container {
		padding: 0;
	}
	
	.slider .slider-post-content h2 a {
		font-size:20px;
	}
	.wrapper {
		padding: 15px;
	}	
	.row {
		margin: 0;
	}

.bottom-section .bottom-section-left .featured-news {
	height:300px;
}
.bottom-section .bottom-section-left, .bottom-section .bottom-section-right {
	padding-bottom:70px;
}

.bottom-section .bottom-section-left .link-news {
	padding:8px 15px;
	background-color:#444;
	color:#fff;
	border-radius:5px;
	right:20px;
}

.bottom-section .bottom-section-right .social-media-buttons {
	right:20px;
}

.bottom-section .bottom-section-right .events-calendar .events-calendar-wrapper {
	height:300px;
}

.bottom-section .bottom-section-right .social-media-buttons {
	bottom:10px;
}	

	.main-content{
		margin-top: 15px !important;
		margin-left:10px;
		margin-right:10px;
	}
	
	.col-media-wrapper .col-media .col-media-featured-img .col-media-mask h3 {
		font-size: 15px;
	}
	
	.col-media-wrapper .col-media .col-media-featured-img .col-media-mask .link-media-post .glyphicon {
		width: 35px;
		height: 35px;
		line-height: 33px;
	}
	
	.col-media-wrapper .col-media .col-media-featured-img .col-media-mask .link-media-post .glyphicon {
		font-size: 13px;
	}
	
	.col-media-wrapper .col-media {
		margin: 1% 2%  2%;
	}
	
	.col-media-wrapper .col-media .col-media-featured-img {
		padding-bottom: 60%;
	}
	
	.contact-wrapper p:first-of-type {
		padding-top: 15px;
	}
	.contact-wrapper p {
		font-size: 15px;
	}
	
}
